$colorprincipal: #fff;
$tamaniotextobienvenida: 18px;
$tamanionormal: 16px;
$fuenteprincipal: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;